@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600;700&display=swap');

* {
  padding: 0;
  border: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-1: #2e5959;
  --color-2: #010a26;
  --color-3: #cbd0d3;
  --color-4: #e6dbda;
  --color-5: #7149c7;
  --color-6: white;
  --color-7: #e02214;
  --color-8: rgba(51, 51, 51, 0.4);
  --color-9: #365d8a;
  --color-10: #8e62dc;
  --color-11: rgba(0, 0, 0, 0.5);
} /*--VARIABLES -I found the need to use variables as I was experimenting with 
    different tones of grey and pink - learnt with Kevin Powel's youtube video 
    "CSS Variables - An introduction to CSS custom properties" https://www.youtube.com/watch?v=PHO6TBq_auI"--*/

body.container-fluid {
  height: 100vh;
  width: 100vw;
  padding: 0;
  line-height: 1.15rem;
}

hr.hr-home {
  border: 1px solid var(--color-4);
  margin-bottom: 30px;
}

/*-------first part of content page (bg image up to md size screen)--*/

#margins-container {
  background-color: var(--color-1);
  padding-top: 15px;
  font-family: "Open Sans", sans-serif;
  margin-left: 0;
  margin-right: 0;
}

.background-img {
  background-color: var(--color-1);
  background-image: url("../images/men_1024x802.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding: 0;
  max-height: 400px;
  overflow: hidden;
}

/*content area*/
#content-container {
  padding: 0;
  margin: 0;
}

#header-callout-image-container {
  padding: 0;
  margin: 0 0 16px 0;
}

#header-container {
  color: var(--color-4);
}

#dropdownMenuButton {
  background: transparent;
  color: var(--color-4);
  font-size: 0.7rem;
}

.dropdown-item {
  font-size: 0.9rem;
}

#callout-1-headers h6 {
  margin-bottom: 2px;
}

#callout-1-headers {
  font-family: 'Exo', sans-serif;
  margin-bottom: 16px;
}

#callout-1-p1,
#callout-1-p2 {
  font-size: 0.8rem;
}

.callout-container,
.callout-container p {
  color: var(--color-4);
  padding: 0;
}

/*--button hover grow shadow code had been 
copied from Juan Salazar code at https://codepen.io/juanedsa/pen/EyZQqb?editors=1100 and adapted to this project--*/
.button-container {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-family: 'Exo', sans-serif;
}

.test-button {
  padding: 0.5rem 0.5rem;
  background-color: var(--color-7);
  color: var(--color-4);
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*-------second part of content page (up to subscribe)--*/
#callout-2-headers {
    font-family: 'Exo', sans-serif;
}

#second-callout-container.row.pt-3 {
  background: var(--color-1);
  color: var(--color-4);
  padding: 0;
  margin: 0;
}

#profile-img {
  border-radius: 50%;
  max-width: 100px;
  margin-bottom: 30px;
}

div.more-text-EQ {
  font-size: 0.8rem;
}

/*---------subscribe area--*/
#subscribe-container {
  font-family: 'Roboto Mono', monospace;
  background: var(--color-1);
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
}
.parent-wrapper {
  position: relative;
  width: 200px;
  height: 210px;
  margin: 35px auto 0;
  background-color: #000;
  border-radius: 4px;
  color: var(--color-4);
  box-shadow: 0px 0px 50px 5px var(--color-11);
}

.close-btn {
  color: #000;
  margin: 20px;
  font-size: 18px;
  cursor: pointer;
}

.subscribe-wrapper {
  position: absolute;
  left: -30px;
  right: -30px;
  height: 170px;
  padding: 20px;
  background-color: var(--color-6);
  border-radius: 4px;
  color: #333;
  box-shadow: 0px 0px 60px 5px var(--color-11);
}

.subscribe-wrapper:after {
  position: absolute;
  content: "";
  right: -10px;
  bottom: 71px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--color-5);
}

.subscribe-wrapper h4 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 26px;
}

.subscribe-wrapper input {
  position: absolute;
  bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--color-2);
  padding: 10px;
  width: 65%;
  background: transparent;
  transition: all 0.25s ease;
  font-size: 0.8rem;
}

.subscribe-wrapper input:focus {
  outline: none;
  border-bottom: 1px solid var(--color-5);
}

.subscribe-wrapper .submit-btn {
  position: absolute;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: var(--color-5);
  color: var(--color-4);
  padding: 12px 25px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  right: -10px;
  bottom: 30px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: -5px 6px 20px 0px rgba(51, 51, 51, 0.4);
}

.subscribe-wrapper .submit-btn:hover {
  background-color: var(--color-10);
}

/*---------footer area--*/
footer {
  background-color: var(--color-3);
  color: var(--color-1);
}

div.col-3.copyright {
  font-size: 0.4rem;
}
.more-links a {
  font-size: 0.5rem;
  color: var(--color-1);
  line-height: 0.9rem;
}

.list-inline > li,
.list-inline li a {
  display: inline;
  font-size: 0.8rem;
  color: var(--color-1);
}

.more-links p {
  font-size: 0.6rem;
  font-weight: bold;
  margin-bottom: 0;
}

footer ul {
  list-style-type: none;
}

/*--EQ test Modals--*/

.bg-modal {
  width: 100%;
  height: 100%;
  display: none;
  background-color: var(--color-1);
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  padding: 15px; /* Avoid width reflow - overflow and padding code taken 
                        from https://css-tricks.com/prevent-page-scrolling-when-a-modal-is-open/ to fix scroll bug when modal is open*/
}

.modal-content {
  background-color: var(--color-4);
  border-radius: 8px;
  border: 2px;
  border-color: black;
  text-align: center;
  padding: 20px;
  position: relative;
  margin: 40px 100px;
  box-shadow: 0 0 10px 2px;
  width: 800px;
  max-width: 80%;
}

.close a {
  position: absolute;
  top: 0;
  right: 20px;
  transform: rotate(45deg);
  cursor: pointer;
  font-size: 24px;
  color: var(--color-2);
}

button.btn {
  background-color: var(--color-3);
  border: 1px solid var(--color-3);
  border-radius: 4px;
  color: var(--color-2);
  font-weight: 600;
  padding: 3px 4px;
}

button.btn:hover {
  color: var(--color-9);
  box-shadow: 0 0 10px 2px var(--color-1);
}

/*--How it works part from test--*/
#rulesContainer p {
  font-size: 0.7rem;
}

#more {
    display: none;
}

/*--questions container--*/
#myCompetencyType {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-1);
}

#myquestion {
    font-weight: bold;
    color: var(--color-1);
}

form#testAnswer {
  width: 30px;
}

#submitAlert {
  display: none;

  color: var(--color-10);
}

/*----results container---*/
/* Chart - copied from highcharts dual axis, line and column and adapted to this project */

div#resultsContainer {
  width: 100%;
  height: 100%;
  display: none;
  background-color: var(--color-3);
  color: var(--color-2);
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;

}

#container {
  height: 400px;
}

.highcharts-background {
    padding-left: 8px;
    padding-right: 8px; 
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

ul.highcharts-description {
list-style-type: none;
}

.highcharts-description li {
    font-size: 0.5rem;
    color: var(--color-1);
}


#averageScore {
    text-align: center;
}

p#result1-4,
p#result5-7,
p#result8-10 {
    display: none;
}

.linkHomePage,
.linkHomePage a {
    color: var(--color-5);
    text-align: center;
    font-size: .7rem;
    font-weight: bold;
}

/* Small devices (landscape phones, less than 768px)*/
@media (min-width: 576px) {
  html {
    font-size: 1.2rem;
  }
  .parent-wrapper {
    width: 340px;
    height: 260px;
  }
  .more-links {
    text-align: center;
  }
}

/* Medium devices (tablets, more than 768px)*/
@media (min-width: 768px) {
  html {
    font-size: 1.3rem;
  }
  .background-img {
    background: var(--color-1);
    max-height: none;
    overflow: visible;
  }
  .image-container {
    display: block;
  }
  .parent-wrapper {
    width: 400px;
    height: 260px;
  }
  .parent-wrapper span {
    font-size: 72px;
  }
  div.more-links p {
    font-size: 1rem;
  }
  .list-inline > li,
  .list-inline li a {
    text-align: center;
    font-size: 1.2rem;
  }
  div.copyright p,
  div.more-links li a {
    font-size: .8rem;
  }
}

/*Large devices (desktops, less than 1200px)*/
@media (min-width: 1024px) {
  html {
    font-size: 1.4rem;
  }
}
